.botao{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;	
    background-size: 100%;
    background-color: white;
    padding-bottom: 5px;
    box-shadow: 0px 4px rgb(0, 0, 0, 0.2), 0px 10px 15px rgb(0, 0, 0, 0.5);
  
}

.jogo{
	 text-align: center;
	 font-family: fantasy;

}
.container h1{
	text-align: center;
	margin-right: 40px;
	margin-top: 20px;
	font-family: fantasy;
}

#pontosX{
  font-family: sans-serif;
  font-size: 25px;
}
#resetar{
	color: white;
}

.contagem {
	font-weight: bold;
	font-size: 26px;
}
.teste {
	display: block;
	border: red;
}
.caralho  {
	display: flex;
	justify-content: center;
}
#pontosO  {
font-family: sans-serif;
  font-size: 25px;
}
